{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="div-form sign-flow panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">浩瀚宇宙</h3>
            </div>
            <div class="panel-body">
                {% if u.is_clients() %}
                    <a href="{{ url_for('user.products_bought') }}">已购产品列表</a>
                    <a href="{{ url_for('user.records') }}">交易记录</a>
                {% else %}
                    {% if u.is_admin() %}
                        <a href="{{ url_for('admin.users_arrange') }}">待分配用户</a>
                    {% endif %}
                    <a href="{{ url_for('admin.users_check') }}">待审核用户</a>
                {% endif %}
            </div>
        </div>
        <div class="div-form sign-flow panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">登录信息</h3>
            </div>
            <div class="panel-body">
                <table class="table " data-toggle="table" id="log-table" data-pagination="true" data-page-size="10">
                    <thead>
                    <tr>
                        <th class="th-col-1">操作账号</th>
                        <th class="th-col-1">操作模块</th>
                        <th class="th-col-1">操作系统</th>
                        <th class="th-col-1">操作ip</th>
                        <th class="th-col-1">浏览器</th>
                        <th class="th-col-2">时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in ms %}
                        <tr data-id={{ m.id }}>
                            <td>{{ m.mobile }} {{ m.user_name }}</td>
                            <td>{{ m.action }}</td>
                            <td>{{ m.platform }}</td>
                            <td>{{ m.ip }}</td>
                            <td>{{ m.browser }}</td>
                            <td>{{ m.ct | time_str }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
