{% extends 'base.html' %}
{% block body %}
    <div id="id-div-register" class="div-form sign-flow panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">密码找回</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-user" method="post" data-type="register"
                  action="{{ url_for('user.forget_password') }}">
                <div class="form-group">
                    <label for="inputMobile" class="col-sm-3 control-label">手机号码</label>
                    <div class="col-sm-9">
                        <input name="mobile" class="form-control" id="id-input-mobile" placeholder="手机号码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCaptcha" class="col-sm-3 control-label">图形验证码</label>
                    <div class="col-sm-9  display-flex flex-between">
                        <input name="captcha" class="form-control" id="id-input-captcha" placeholder="图形验证码（不区分大小写）"
                               autocomplete="off" required>
                        <img id="id-img-captcha"
                             onclick="this.setAttribute('src','/img/captcha?nocache='+Math.random())"
                             src="/img/captcha"
                             alt="Captcha" class="right"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMsg" class="col-sm-3 control-label">短信验证码</label>
                    <div class="col-sm-9  display-flex flex-between">
                        <input name="msg" class="form-control" id="id-input-msg" placeholder="短信验证码" autocomplete="off"
                               required>
                        <div id="id-button-msg-code" data-type="forget_password" onclick="sendMsgCode()"
                             class="button-common btn btn-default btn-block">发送验证码
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-9">
                        <input name="newpassword" class="form-control" id="id-input-password" type="password"
                               placeholder="6-20位字符，可使用字母、数字" maxlength="20" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="col-sm-3 control-label">确认密码</label>
                    <div class="col-sm-9">
                        <input name="repassword" class="form-control" id="id-input-repassword" type="password"
                               placeholder="请再次输入密码" maxlength="20" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label for="info" class="control-label" id="id-lable-info"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 flex-center">
                        <button type="submit" class="button-common btn btn-default btn-block">设置密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/utils/api.js"></script>
    <script src="/static/js/user.js"></script>

{% endblock %}
